
{{#section 'title'}}
	Sản phẩm
{{/section}}


<div class="site-content-inner">
    <div class="breadcrumb margin-bottom-45">
        <div class="container">
            <div class="breadcrumb-wrap">
                <nav class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items">
                        <li class="trail-item trail-begin">
                            <a href="index.html"><span>Trang chủ</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="shop-grid.html"><span>Sản phẩm</span></a>
                        </li>
                        
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="container left-sidebar">
        <div class="row">
            <!-- Main content -->
            <div id="primary" class="content-area right-side col-sm-8 col-md-8 col-lg-9">
                <div id="main" class="site-main">
                    <div class="product-shop-top">
                        <div class="group-left">
                        
                        </div>
                        <div class="group-right">
                            <div class="sort-by">
                                <div class="select-resuilts">
                                    <select name="position">
                                        <option value="position1">Mặc định</option>
                                        <option value="position1">Điện thoại</option>
                                        <option value="position2">Máy tính bảng</option>
                                        <option value="position3">Giá thấp đến cao</option>
                                        <option value="position4">Giá cao đến thấp</option>
                                    </select>
                                </div>
                            </div>
                            <div class="sort-number-show">
                                <div class="select-resuilts">
                                    <span>Hiển thị:</span>
                                    <select name="position">
                                        <option value="position1">6</option>
                                        <option value="position2">9</option>
                                        <option value="position3">12</option>
                                        <option value="position4">15</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row products auto-clear equal-container product-grid">

                        {{#each sp}}
                        <div class="col-ts-12 col-xs-6 col-sm-6 col-md-6 col-lg-4">
                            <div class="product-item">
                                <div class="product-top equal-elem">
                                    <span class="cat-list">{{tenNhaSanXuat}}</span>
                                    <div class="star-rating">
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <span>(0)</span>
                                    </div>
                                    <h3 class="product-name"><a href="#">{{tenSanPham}}</a></h3>
                                </div>
                                <div class="product-media">
                                    <figure>
                                        <a href="/product/product-detail?id={{idSanPham}}">
                                            <img alt="img" class="thumb-item-product-imgs" src="{{duongDan}}">
                                        </a>
                                    </figure>
                                    <a href="javascript:;" class="quick-view" data-id={{idSanPham}}>Xem nhanh</a>
                                </div>
                                <div class="product-info">
                                    <div class="product-content">
                                        <span class="price">{{number_format gia}}</span>
                                    </div>
                                    <div class="group-btn-control">
                                        <div class="inner">
                                            <a href="#" class="compare button"><span class="arrow_left-right_alt"></span></a>
                                            <a href="javascript:;" class="add_to_cart">Thêm giỏ hàng</a>
                                            <a href="#" class="button add_to_wishlist"><span class="icon_heart_alt"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        
                    </div>
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">&lsaquo;</a>
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="javascript:;" class="three-dots"> ... </a>
                        <a href="#">&rsaquo;</a>
                        <a href="#">&raquo;</a>
                    </div>
                    <!-- </nav> -->
                </div>
            </div>
            <!-- End Main content -->
            <!-- Sidebar content -->
            <div id="secondary" class="sidebar col-sm-4 col-md-4 col-lg-3">
            
                <!-- Widget Price -->
                <div class="widget widget-price margin-bottom-50">
                    <h4 class="title-widget">Giá</h4>
                    <div class="price-slider-wrapper">
                        <div class="price-slider-amount">
                            <div style="" class="price-label">
                                <span class="from">đ1</span> - <span class="to">đ100000</span>
                            </div>
                        </div>
                        <div data-label-reasult="" data-min="1" data-max="100000" data-unit="đ" class="slider-range-price " data-value-min="0" data-value-max="100000"></div>
                        <a href="#" class="button-price-slider">Lọc</a>
                    </div>
                </div>
                <!-- End Widget Price -->
                <!-- Widget Brand -->
                <div class="widget widget-brand margin-bottom-35">
                    <h4 class="title-widget">Nhà sản xuất</h4>
                    <ul class="list-widget-items">
                        {{#each nsx}}
                        <li class="cat-item">
                            <label class="inline"><input type="checkbox"><span class="input"></span>{{tenNhaSanXuat}}</label>
                        </li>
                        {{/each}}
                        <!-- <a href="#" class="show-more">+ hiển thị thêm</a> -->
                    </ul>
                </div>
                <!-- End Widget Brand -->
            </div>
            <!--End Sidebar content -->
        </div>
    </div>
    <div class="container">
        <div class="brand-slide">
            <div class="owl-carousel nav-style-1" data-nav="false" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":2},"480":{"items":3},"640":{"items":4},"991":{"items":6}}'>
                <a href="#"><img src="/images/imgs/logo-apple.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-samsung.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-htc.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-sony.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-oppo.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-huawei.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-lenovo.png" alt="brand"></a>
            </div>
        </div>
    </div> 
</div> 